* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form{
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button{
    background-color:rgb(3, 54, 81) ;
    border: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

.success-message {
    background-color: rgb(3, 54, 81);
    padding: 16px;
    border: none;
    color: #fff;
    display: none;
}

.negative-message {
    background-color: rgb(180, 0, 0);
    padding: 16px;
    border: none;
    color: #fff;
    display: none; /* Defina display como "block" para garantir que o texto seja exibido */
}

